<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Forecast.io" version="1.0.9" targetFramework="net452" />
  <package id="Geocoding.net" version="3.4.0" targetFramework="net452" />
  <package id="Newtonsoft.Json" version="9.0.1" targetFramework="net452" />
  <package id="Ninject" version="3.2.2.0" targetFramework="net452" />
  <package id="SkiaSharp" version="1.49.1.0" targetFramework="net452" />
</packages>